<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Matematyka :D</title>
</head>

<body>
    <div id="app">
        <aside>
            <ul>
                <li v-for="schlclass in schlClasses">
                    <button v-on:click="showMathChapters(schlclass.id)">
                        {{schlclass.link}}
                    </button>
                </li>
            </ul>
        </aside>
        <section class='chapter-section'>
            <button class='exit-btn' v-on:click="exitChapters()">X</button>
            <ul>
                <li v-for="chapter in chaptersForLvl4">
                    <button v-on:click="showChapter(1)">
                        {{chapter.chapter1}}
                    </button>
                </li>
            </ul>
        </section>
        <section class='chapter-section'>
            <button class='exit-btn' v-on:click="exitChapters()">X</button>
        </section>
        <section class='chapter-section'>
            <button class='exit-btn' v-on:click="exitChapters()">X</button>
        </section>
        <section class='chapter-section'>
            <button class='exit-btn' v-on:click="exitChapters()">X</button>
        </section>
        <section class='chapter-section'>
            <button class='exit-btn' v-on:click="exitChapters()">X</button>
        </section>
        <section class='chapter-section'>
            <button class='exit-btn' v-on:click="exitChapters()">X</button>
        </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="scripts/app.js"></script>
</body>

</html>
