ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    width: 200px;
    height: 50px;
    border: 0;
    background-color: #c2f257;
    margin: 10px;
}

button:hover{
    cursor: pointer;
    background-color: #dbff8a;
}

.chapter-section{
    background-color: #ef7d7d;
    width: 0;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1s;
    overflow-x: hidden;
}

.chapter-section-visible{
    width: 100%;
    transition: all 1s;
}

.exit-btn{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
}